[url "ssh://git@heroku.com/"]
	insteadOf = https://git.heroku.com/
[user]
	name = Tim Brown
	email = brown.tim.lee@gmail.com
[push]
	default = current
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[core]
[rerere]
	enabled = true
[rebase]
	autosquash = true
[pager]
	branch = false
[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $BASE $MERGED -c '$wincmd w' -c 'wincmd J'
